.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 30px);
  grid-template-rows: repeat(8, 30px);
  gap: 2px;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.cell.clicked {
  background-color: #ddd;
}

.cell.flagged {
  background-color: #ddd;
  font-weight: bold;
}

.header {
  margin-bottom: 10px;
}

.game-container {
  margin: 20px auto;
  max-width: 300px;
}
